/**VALORES DEL SITIO WEB */
* {
  margin: 0;
  pading: 0; }

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 16px; }
  body a {
    color: #9b59b6; }

/**ESTILOS PARA NAVBAR DE BOOSTRAP */
.navbar {
  background-color: #3c4045 !important; }

.navbar-brand:link, .navbar-brand:visited {
  color: #ecf0f1 !important; }

.navbar-brand:hover, .navbar-brand:active {
  color: #9b59b6 !important; }

#navbar li a:link, #navbar li a:visited {
  color: #9b59b6 !important; }

#navbar li a:hover, #navbar li a:active {
  color: #9b59b6 !important; }

.dropdown-menu {
  background-color: white !important; }

.open > a {
  background-color: #white !important; }

.imc {
  margin-bottom: 30px; }
  .imc .titulo {
    background: #9b59b6;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    color: #ffffff; }
  .imc .descripcion {
    padding: 15px 10px; }

.checkslider {
  margin-bottom: 0px; }

/**PONER UN BORDER PARA REVISAR CONTENEDORES
 * border-radius: 3px
 * border-style: solid
 * border-color: #262938* */
/**SECCION DATOS */
.datos {
  margin-bottom: 20px;
  width: 100%; }
  .datos .formulario {
    width: 100%;
    height: 150%;
    margin-bottom: 10px; }
    .datos .formulario .titulo {
      background: #9b59b6;
      font-size: 24px;
      color: #ecf0f1;
      margin-bottom: 30px;
      padding: 15px 150px;
      border-radius: 3px; }
    .datos .formulario .boton {
      background: #9b59b6;
      color: #fff;
      border-radius: 3px;
      cursor: pointer; }
      .datos .formulario .boton:hover {
        background: #8e44ad; }
  .datos .resultado {
    margin-bottom: 30px; }
    .datos .resultado .titulo {
      background: #9b59b6;
      font-size: 24px;
      color: #ecf0f1;
      margin-bottom: 30px;
      padding: 15px 150px;
      border-radius: 3px;
      text-align: center; }
    .datos .resultado .tituloImagen {
      font-size: 24px;
      color: #9b59b6;
      margin-bottom: 8px; }
    .datos .resultado .valor {
      margin-top: 5px;
      margin-bottom: 15px; }
    .datos .resultado .recomendacion {
      margin-bottom: 25 px; }
      .datos .resultado .recomendacion .subtitulo {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 5px;
        color: #9b59b6; }

footer {
  background: #3c4045; }
  footer .direccion {
    padding: 30px 0;
    color: #fff;
    text-align: center; }
    footer .direccion .titulo {
      font-size: 32px;
      line-height: 32px;
      font-weight: 300;
      margin-bottom: 30px; }
    footer .direccion .calle,
    footer .direccion .telefono,
    footer .direccion .correo {
      margin-bottom: 10px; }
    footer .direccion .logo img {
      margin-top: 70px; }
  footer .derechos {
    padding: 30px 0;
    color: #fff;
    text-align: center; }
    footer .derechos .titulo {
      font-size: 30px;
      line-height: 32px;
      font-weight: 300;
      margin-bottom: 30px; }
    footer .derechos .descripcion {
      margin-bottom: 10px; }
  footer .social {
    text-align: center;
    padding: 30px 0; }
    footer .social .titulo {
      font-size: 30px;
      line-height: 32px;
      font-weight: 300;
      margin-bottom: 30px;
      color: #fff; }
    footer .social a {
      padding: 10px;
      display: inline-block;
      margin: 0 20px;
      width: 50px;
      font-size: 22px;
      color: #fff;
      background: #000;
      border-radius: 100px; }
      footer .social a:hover {
        text-decoration: none; }
      footer .social a.facebook {
        background: #3b5998; }
      footer .social a.twitter {
        background: #55acee; }
      footer .social a.youtube {
        background: #cd201f; }

/*# sourceMappingURL=style.css.map */
