.imc
    margin-bottom: 30px
    .titulo
        background: $PURPLE
        text-align: center
        font-size: 32px
        line-height: 32px
        font-weight: 300
        color: #ffffff

    .descripcion
        padding: 15px 10px