<div class="datos ">
    <h2 class="text-center titulo">INDICE DE MASA CORPORAL</h2>
    <form class="formulario" action="index.php?c=imc" method="POST" enctype="multipart/form-data">
        <div class="col-xs-6 form-group">
            <select name="sexo" class="form-control" required="true">
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="sn">Sin especificar</option>
            </select>
        </div>
        <div class="col-xs-6 form-group">
            <select name="sistemametrico" class="form-control">
                <option value="internacional">Internacional</option>
                <option value="ingles">Ingles</option>
            </select>
        </div>
        <div class="col-xs-6 form-group">
            <input type="text" name="altura" class="form-control" placeholder="altura (cms/in)" required="true" />
        </div>
        <div class="col-xs-6 form-group">
            <input type="text" name="peso" class="form-control" placeholder="peso (kg/lbs)" required="true" />
        </div>
        <div class="col-xs-6 form-group">
            <input type="text" name="edad" class="form-control" placeholder="edad">
        </div>
        <div class="col-xs-6 form-group">
            <input type="submit" name="calcular" class="btn boton col-md-12" value="Calcular">
        </div>
    </form>
</div>
<!-- FIN FORMULARIO DATOS -->
</div>

<!-- RESULTADO -->
<div class="col-md-12">
<div class="resultado">
    <h2 class="text-center">RESULTADO</h2>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <label for="exampleInputName2">VALOR APROXIMADO:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="resultado" class="form-control" value="{if isset($resultado)}{$resultado}{/if}" disabled="true">
            </div>
        </div>
    </div>
    <div class="col-md-12">
            {if isset($msj)}
        <h4>RECOMENDACION </h4>
        <p class="text-center">{$msj}</p>

            Te recomendamos revisar la siguiente información.
        <br>
        <a href="https://www.youtube.com/watch?v=2_srZsMbzA8">enlace1</a>
        <br>
        <a href="https://www.youtube.com/watch?v=dnH2b3AmAuw">enlace2</a>
        <br>
        <a href="https://www.youtube.com/watch?v=6byaTlhGJXM">enlace3</a>
            {/if}
            {if isset($msjnum)}{$msjnum}{/if}
        <!--Aqui van los otros enlaces y recomendaciones-->
    </div>

</div>