<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    MÁS INFORMACIÓN</a>
            </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <a href="">Rutinas para principiantes</a>
            </div>

            <div class="panel-body">
                <a href="">¿Qué son las proteinas?</a>
            </div>
            <div class="panel-body">
                <a href="">¿Se puede adelgazar rápido?</a>
            </div>

            <div class="panel-body">
                <a href="">Mitos de la alimentación</a>
            </div>

            <div class="panel-body">
                <a href="">¿Qué es el IMC?</a>
            </div>
        </div>
    </div>
</div>