<!-- DESCRIPCION IMC -->
<div class="imc border border-primary">
    <div class="panel-heading titulo" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 class="text-center">CALCULADORA IMC</h2>
            </a>
        </h4>
    </div>

    <p class="text-justify descripcion panel panel-default">
        El índice de masa corporal (IMC) es una medida de asociación entre la masa y la talla de un individuo ideada por el estadístico
        belga Adolphe Quetelet, por lo que también se conoce como índice de Quetelet. Hay que destacar que, no se pueden aplicar
        los mismos valores de IMC en niños y adolescentes debido a su constante crecimiento de estatura y desarrollo corporal,
        por lo que se obtiene un IMC respecto a su edad y sexo. Por lo que primero deberá primero contar con la fecha de nacimiento
        y de medición para obtener la edad calculada y así ser más precisos al categorizar a éste grupo de edad.
        <a href="">Ver más</a>
    </p>
</div>