<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_VENDOR}bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS}style.css">
	<link rel="stylesheet" type="text/css" href="{$smarty.const.FONT}font-awesome.min.css">
	{block name=estilos}{/block} 	{* Hojas de Estilo que se deben agregar*}
	<script src="{$smarty.const.JS_VENDOR}jquery.min.js"></script>
	<script src="{$smarty.const.JS_VENDOR_BOOT}bootstrap.min.js"></script>
	{block name=js}{/block} {*Archvos para javascript*}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>{block name=title}PLANTILLA PADRE{/block}</title>
</head>
<body >
	 {block name=header}{include file='header.html'}{/block}
	 {block name=contenido}{/block}
	 {block name=footer}{include file='footer.html'}{/block}
</body>
</html>