<!DOCTYPE html>
<html>
<head>
	<script src="js/jquery-3.1.0.min.js"></script>
  	<script src="js/jquery.validate.min.js"></script>

  	<link rel="stylesheet" type="text/css" href="css/jcarousel.connected-carousels.css">
  	<script src="js/jquery.jcarousel.min.js"></script>
  	<script src="js/jcarousel.connected-carousels.js"></script>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	{block name=js}{/block} 		{*Archvos para javascript*}

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css" >
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
	
	{block name=estilos}{/block} 	{* Hojas de Estilo que se deben agregar*}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<meta charset="UTF-8">
	<title>{block name=title}PLANTILLA PADRE{/block}</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body id="cuerpo">
	
	{block name=header}{/block}
	
	{block name=contenido}{/block}
	
	{block name=footer}{/block}
</body>
</html>