	</div>
	<br /> 
	<footer id="pie">
		<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://pesotips.com/">PESOTIPS.COM</a>
    </div>
    <div>
    	<p class="navbar-text">Gestión de Desarrollo de Software</p>
    </div>

   
  </div><!-- /.container-fluid -->
</nav>
			
	</footer>
</body>
</html> 