<!DOCTYPE html>
<html lang="en">
<head>
	<script src="js/jquery-3.1.0.min.js"></script>
  	<script src="js/jquery.validate.min.js"></script>

  	<link rel="stylesheet" type="text/css" href="css/jcarousel.connected-carousels.css">
  	<script src="js/jquery.jcarousel.min.js"></script>
  	<script src="js/jcarousel.connected-carousels.js"></script> 

  	  	
  	
  	
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  	<script type="text/javascript" src="../js/jquery.min.js"></script>
 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<meta charset="UTF-8">
	<title>IMC</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body id="cuerpo">			
	<div id="contenedor">		
		<header id="banner">
			<div class="sliderbanner">
				<ul>
					<li><img src="images/sliderbanner/banner7.jpg" class="img-responsive" alt="Imagen no disponible"></li>
					<li><img src="images/sliderbanner/banner2.jpg" class="img-responsive" alt="Imagen no disponible"></li>
					<li><img src="images/sliderbanner/banner5.jpg" class="img-responsive" alt="Imagen no disponible"></li>
					<li><img src="images/sliderbanner/banner6.jpg" class="img-responsive" alt="Imagen no disponible"></li>
				</ul>	
			</div><br />					
		</header>		
			 
		
		

	