<header id="banner">
	<div class="sliderbanner">
		<ul>
			<li><img src="images/sliderbanner/banner7.jpg" class="img-responsive" alt="Imagen no disponible"></li>
			<li><img src="images/sliderbanner/banner2.jpg" class="img-responsive" alt="Imagen no disponible"></li>
			<li><img src="images/sliderbanner/banner5.jpg" class="img-responsive" alt="Imagen no disponible"></li>
			<li><img src="images/sliderbanner/banner6.jpg" class="img-responsive" alt="Imagen no disponible"></li>
		</ul>
	</div><br />
</header>