{extends file="template/document.html"}
{block name=title}PESOTIPS.COM CALCULADORA IMC{/block}
{block name=contenido}
<!-- CONTENEDOR PRINCIPAL -->
<div class="container">
	<div class="row">
		<!-- SECCION IZQUIERDA -->
		<div class="col-md-4">
			<div class="col-md-12">
				 {include file='sections/imc.html'}
			</div>
			<!-- SECCION ENLACES  -->
			<div class="col-md-12">
				 {include file='sections/enlaces.html'}
			</div>
		</div>
		<!-- SECCION DERECHA -->
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					{include file='sections/slider.html'}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					 {include file='sections/datos.html'}
				</div>
			</div>
		</div>
	</div>
</div>
{/block}