{extends file="document.html"}
{block name=title}PESOTIPS.COM CALCULADORA IMC{/block}
{block name=contenido}
<!-- CONTENEDOR PRINCIPAL -->
<div class="container">
	<div class="row">
		<!-- SECCION IZQUIERDA -->
		<div class="col-md-4">
			<div class="col-md-12">
				 {include file='imc.html'}
			</div>
			<!-- SECCION ENLACES  -->
			<div class="col-md-12">
				 {include file='enlaces.html'}
			</div>
		</div>
		<!-- SECCION DERECHA -->
		<div class="col-md-8">
			<div class="col-md-12">
				 {include file='slider.html'}
			</div>

			<div class="col-md-12">
				 {include file='datos.html'}
			</div>
		</div>
	</div>
</div>
{/block}